n8n-workflows/01 - Base Resume Generator.json
{
  "name": "01 - Base Resume Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "base-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        80
      ],
      "id": "35e290c2-b704-483a-be6f-939082f2ee2c",
      "name": "Webhook",
      "webhookId": "eaadff5a-52fe-4910-ac37-4e9e9c389e16"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate required fields\nif (!body.user_id || !body.profile) {\n  throw new Error('Missing user_id or profile');\n}\n\nconst profile = body.profile;\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    profile: profile,\n    iteration: 0,\n    resume_data: null,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        80
      ],
      "id": "aaed8e2c-d5b7-4867-88ba-83135752e944",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "jsCode": "// Input comes directly from Score ATS code node now\nconst data = $input.first().json;\n\nconst iteration = (data.iteration || 0) + 1;\nconst needsRefinement = data.ats_score < 80 && iteration < 3;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: data.resume_data,\n    ats_score: data.ats_score,\n    score_breakdown: data.score_breakdown || {},\n    suggestions: data.suggestions || [],\n    missing_keywords: data.missing_keywords || [],\n    iteration: iteration,\n    needs_refinement: needsRefinement\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -144
      ],
      "id": "962c32be-5965-4088-9cfe-1e7664dd31b0",
      "name": "Check Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e05e52-65fc-412c-88ef-05033500d86e",
              "leftValue": "={{ $json.needs_refinement }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        80
      ],
      "id": "90348c3d-7138-46d2-91fb-f9c7b80f4532",
      "name": "Score Gate"
    },
    {
      "parameters": {
        "jsCode": "let isRefinement = false;\nlet prev = null;\n\ntry {\n  prev = $('Check Score').first().json;\n  isRefinement = prev && prev.iteration > 0;\n} catch(e) {\n  isRefinement = false;\n}\n\nconst parseInput = $('Parse Input').first().json;\n\nlet userMessage = '';\n\nif (isRefinement && prev) {\n  userMessage = 'Refine this resume to score higher on ATS. Current score: ' + prev.ats_score + '/100. Suggestions: ' + (prev.suggestions || []).join('. ') + '. Missing keywords: ' + (prev.missing_keywords || []).join(', ') + '. Current resume: ' + JSON.stringify(prev.resume_data) + '. Return ONLY improved JSON with same structure.';\n} else {\n  userMessage = 'Create a professional ATS-optimized resume for this candidate. Profile: ' + JSON.stringify(parseInput.profile) + '. Return ONLY valid JSON: {\"full_name\":\"\",\"summary\":\"\",\"experience\":[{\"company\":\"\",\"role\":\"\",\"dates\":\"\",\"bullets\":[\"\"]}],\"education\":[{\"degree\":\"\",\"field\":\"\",\"institution\":\"\",\"year\":\"\",\"grade\":\"\"}],\"skills\":[\"\"],\"projects\":[{\"name\":\"\",\"description\":\"\",\"tech\":\"\",\"github\":\"\"}]}';\n}\n\n// Store as flat strings — not nested array\nreturn [{\n  json: {\n    user_id: parseInput.user_id,\n    profile: parseInput.profile,\n    iteration: isRefinement ? (prev.iteration || 0) : 0,\n    systemMessage: 'You are an expert resume writer specializing in cloud engineering and DevOps roles. Always respond with valid JSON only, no markdown, no explanation, no code blocks.',\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        80
      ],
      "id": "6a4a48b2-a55f-430a-8931-47c003a59c4c",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = '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'\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an ATS scoring expert. Always respond with valid JSON only, no markdown, no explanation.'\n    },\n    {\n      role: 'user',\n      content: 'Score this resume for ATS compatibility from 0 to 100. Resume: ' + JSON.stringify(data.resume_data) + '. Return ONLY valid JSON: {\"score\":85,\"breakdown\":{\"keywords\":20,\"action_verbs\":18,\"achievements\":15,\"structure\":17,\"skills\":15},\"suggestions\":[\"tip1\"],\"missing_keywords\":[\"keyword1\"]}'\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content\n  || choice.message.reasoning_content\n  || choice.message.reasoning\n  || '';\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nlet scoreData;\nif (jsonStart !== -1 && jsonEnd !== -1) {\n  try {\n    scoreData = JSON.parse(cleaned.substring(jsonStart, jsonEnd + 1));\n  } catch(e) {\n    scoreData = { score: 85, suggestions: [], missing_keywords: [] };\n  }\n} else {\n  scoreData = { score: 85, suggestions: [], missing_keywords: [] };\n}\n\nreturn [{\n  json: {\n    ...data,\n    ats_score: scoreData.score || 85,\n    score_breakdown: scoreData.breakdown || {},\n    suggestions: scoreData.suggestions || [],\n    missing_keywords: scoreData.missing_keywords || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -144
      ],
      "id": "0c502ee3-5c9c-480c-9204-0d89ca69791c",
      "name": "Score ATS1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst apiKey = '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'; // your real key\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    { role: 'system', content: data.systemMessage },\n    { role: 'user', content: data.userMessage }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  max_tokens: 4096\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\n// This model returns content in 'reasoning' or 'reasoning_content' when content is null\nlet rawContent = choice.message.content \n  || choice.message.reasoning_content \n  || choice.message.reasoning \n  || '';\n\nif (!rawContent) {\n  throw new Error('Empty response from model. Full response: ' + JSON.stringify(parsed));\n}\n\n// Clean markdown fences\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\n// Extract JSON — find first { to last }\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON found in response: ' + cleaned.substring(0, 300));\n}\n\nconst jsonString = cleaned.substring(jsonStart, jsonEnd + 1);\n\nlet resumeData;\ntry {\n  resumeData = JSON.parse(jsonString);\n} catch(e) {\n  throw new Error('JSON parse failed: ' + jsonString.substring(0, 300));\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: resumeData,\n    iteration: data.iteration || 0,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        80
      ],
      "id": "7cbef4d5-e449-4706-935f-08389f296644",
      "name": "Generate Resume"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"s3_url\": \"={{ $json.s3_url }}\",\n  \"ats_score\": \"={{ $json.ats_score }}\",\n  \"match_score\": \"={{ $json.match_score }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        80
      ],
      "id": "9bab0201-1917-4616-8984-26fafc5efc45",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4cG9zZm51c2Vsc3lqZWpqaHRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ5NDczNywiZXhwIjoyMDk1MDcwNzM3fQ.ENlFQsNPDctsaODUM4g1ano44A8KjUVJilgOcLkz-fw\";\n\n// Get user_id from Check Score since it reliably has it\nconst userId = data.user_id || $('Check Score').first().json.user_id;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl + '/rest/v1/resumes',\n  headers: {\n    'apikey': serviceRoleKey,\n    'Authorization': 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: JSON.stringify({\n    user_id: userId,\n    type: 'jd_tailored',\n    s3_url: data.s3_url,\n    ats_score: data.ats_score,\n    match_score: data.match_score || 0\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst parsed = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n\nif (response.statusCode !== 201) {\n  throw new Error('Supabase error ' + response.statusCode + ': ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    success: true,\n    user_id: userId,\n    s3_url: data.s3_url,\n    ats_score: data.ats_score,\n    match_score: data.match_score || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        80
      ],
      "id": "7acd7b9f-fb5b-4a4b-9109-5aaf9b9c110b",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "jsCode": "const bucketName = \"resume-builder-pdfs-t2311\";\nconst region = \"ap-southeast-2\";\n\nconst data = $input.first().json;\n\n// Get user_id reliably from Check Score\nconst userId = data.user_id || $('Check Score').first().json.user_id;\n\n// Get filename from Generate LaTeX PDF\nconst filename = data.filename || $('Generate LaTeX PDF').first().json.filename;\n\nconst s3Url = `https://${bucketName}.s3.${region}.amazonaws.com/resumes/${userId}/${filename}`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    s3_url: s3Url,\n    ats_score: data.ats_score || $('Check Score').first().json.ats_score,\n    match_score: data.match_score || 0,\n    filename: filename\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -144
      ],
      "id": "0363f71e-4257-4b60-a589-b6a7025292d7",
      "name": "Build S3 URL"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "resume-builder-pdfs-t2311",
        "fileName": "=resumes/{{ $('Check Score').first().json.user_id }}/{{ $('Generate LaTeX PDF').first().json.filename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        432,
        -144
      ],
      "id": "54b96bf6-c8cf-435c-9afc-6aa8bf21f59f",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "SLn08B6Bh5C2L6E0",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst r = data.resume_data;\nconst profile = data.profile || {};\n\n// Helper to escape LaTeX special characters\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/&/g, '\\\\&')\n    .replace(/%/g, '\\\\%')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/#/g, '\\\\#')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}');\n}\n\n// Categorise skills\nconst allSkills = r.skills || [];\nconst cloudSkills = allSkills.filter(s => ['aws','ec2','s3','iam','gcp','azure','terraform','cloud'].some(k => s.toLowerCase().includes(k)));\nconst containerSkills = allSkills.filter(s => ['docker','kubernetes','k8s','helm','argocd','container'].some(k => s.toLowerCase().includes(k)));\nconst cicdSkills = allSkills.filter(s => ['ci','cd','jenkins','github actions','gitlab','bash','shell','linux','git'].some(k => s.toLowerCase().includes(k)));\nconst monitorSkills = allSkills.filter(s => ['prometheus','grafana','monitor','elk','datadog','observ'].some(k => s.toLowerCase().includes(k)));\nconst otherSkills = allSkills.filter(s => ![...cloudSkills,...containerSkills,...cicdSkills,...monitorSkills].includes(s));\n\n// Build experience section\nconst experienceLatex = (r.experience || []).map(exp => `\n\\\\resumeheading{${esc(exp.company)}}{${esc(profile.location || '')}}{${esc(exp.role)}}{${esc(exp.dates)}}\n\\\\begin{resumeitem}\n${(exp.bullets || []).map(b => `  \\\\item ${esc(b)}`).join('\\n')}\n\\\\end{resumeitem}\n\\\\vspace{2pt}\n`).join('\\n');\n\n// Build education section\nconst educationLatex = (r.education || []).map(edu => `\n\\\\resumeheading{${esc(edu.institution)}}{${esc(profile.location || '')}}{${esc(edu.degree)} in ${esc(edu.field)}}{${esc(edu.year)}}\n\\\\begin{flushleft}\n\\\\vspace{-6pt}\n${edu.grade ? `CGPA: ${esc(edu.grade)} \\\\\\\\` : ''}\n\\\\end{flushleft}\n`).join('\\n');\n\n// Build projects section\nconst projectsLatex = (r.projects || []).map(p => {\n  const bullets = (p.description || '').split('.').filter(s => s.trim().length > 10).map(s => `  \\\\item ${esc(s.trim())}.`).join('\\n');\n  return `\n\\\\noindent\\\\textbf{${esc(p.name)}} \\\\hfill ${p.github ? `\\\\href{${esc(p.github)}}{\\\\textbf{[GitHub]}}` : ''}\\\\\\\\\n\\\\noindent\\\\textit{Tech Stack: ${esc(p.tech)}} \\\\hfill \\\\\\\\\n\\\\vspace{-4pt}\n\\\\begin{resumeitem}\n${bullets}\n\\\\end{resumeitem}\n\\\\vspace{4pt}\n`;\n}).join('\\n');\n\n// Build full LaTeX document\nconst latex = `\\\\documentclass[9pt,letterpaper]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=0.4in]{geometry}\n\\\\usepackage{titlesec}\n\\\\usepackage{enumitem}\n\\\\usepackage{hyperref}\n\\\\usepackage{nopageno}\n\\\\usepackage{xcolor}\n\\\\usepackage{fontawesome5}\n\n\\\\definecolor{linkblue}{RGB}{20, 70, 160}\n\\\\hypersetup{colorlinks=true,linkcolor=linkblue,urlcolor=linkblue}\n\n\\\\pagestyle{empty}\n\n\\\\titleformat{\\\\section}{\\\\large\\\\bfseries\\\\scshape}{}{0em}{}[\\\\titlerule]\n\\\\titlespacing{\\\\section}{0pt}{6pt}{3pt}\n\n\\\\newlist{resumeitem}{itemize}{1}\n\\\\setlist[resumeitem]{label=$\\\\bullet$, leftmargin=12pt, topsep=1pt, itemsep=1pt, parsep=0pt}\n\n\\\\newcommand{\\\\resumeheading}[4]{\n    \\\\noindent\\\\textbf{#1} \\\\hfill #2\\\\\\\\\n    \\\\noindent\\\\textit{#3} \\\\hfill \\\\textit{#4}\\\\vspace{1pt}\n}\n\n\\\\begin{document}\n\n\\\\begin{center}\n    {\\\\Huge \\\\textbf{\\\\textsc{${esc(r.full_name || profile.full_name || 'Name')}}}}\\\\\\\\\n    \\\\vspace{3pt}\n    ${esc(profile.location || '')} \\\\textbullet{} ${esc(profile.phone || '')} \\\\textbullet{} \\\\href{mailto:${esc(profile.email || '')}}{${esc(profile.email || '')}} \\\\\\\\\n    \\\\vspace{4pt}\n    ${profile.linkedin ? `\\\\href{https://${esc(profile.linkedin)}}{\\\\faLinkedin{} \\\\textbf{LinkedIn}} \\\\textbullet{}` : ''}\n    ${profile.github ? `\\\\href{https://${esc(profile.github)}}{\\\\faGithub{} \\\\textbf{GitHub}}` : ''}\n\\\\end{center}\n\n\\\\section{Education}\n${educationLatex}\n\n\\\\section{Technical Skills}\n\\\\noindent \\\\textbf{Cloud \\\\& Infrastructure:} ${esc(cloudSkills.join(', '))} \\\\\\\\\n\\\\textbf{Containerization \\\\& Orchestration:} ${esc(containerSkills.join(', '))} \\\\\\\\\n\\\\textbf{CI/CD \\\\& Automation:} ${esc(cicdSkills.join(', '))} \\\\\\\\\n\\\\textbf{Monitoring \\\\& Observability:} ${esc(monitorSkills.join(', '))} \\\\\\\\\n${otherSkills.length > 0 ? `\\\\textbf{Other:} ${esc(otherSkills.join(', '))} \\\\\\\\` : ''}\n\n\\\\section{Work Experience}\n${experienceLatex}\n\n\\\\section{Projects}\n${projectsLatex}\n\n\\\\end{document}`;\n\n// Call YtoTech LaTeX API\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://latex.ytotech.com/builds/sync',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    compiler: 'pdflatex',\n    resources: [\n      {\n        main: true,\n        content: latex\n      }\n    ]\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n  encoding: 'arraybuffer'\n});\n\nif (response.statusCode !== 200 && response.statusCode !== 201) {\n  let errMsg = '';\n  try {\n    errMsg = Buffer.from(response.body).toString('utf8').substring(0, 500);\n  } catch(e) {}\n  throw new Error('LaTeX compilation failed: ' + response.statusCode + ' — ' + errMsg);\n}\n\nconst filename = `resume_${data.user_id}_${Date.now()}.pdf`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(response.body),\n  filename,\n  'application/pdf'\n);\n\nreturn [{\n  json: {\n    ...data,\n    filename: filename\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        80
      ],
      "id": "db2be236-19fd-4214-954c-3c2756bc6fce",
      "name": "Generate LaTeX PDF"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate LaTeX PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ATS1": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume": {
      "main": [
        [
          {
            "node": "Score ATS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build S3 URL": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Build S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "79511372-67e3-4325-957f-c0c8d899dfd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c929c734d6eed994ee8b5332e41aedafb118d597f4e027e68c16c5a044273a20"
  },
  "id": "4oPpSFYwJ0fsTiCi",
  "tags": []
}