n8n-workflows/01 - Base Resume Generator.json
{
  "name": "01 - Base Resume Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "base-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        224
      ],
      "id": "5cabf99f-cf28-448c-95d5-c85bd619be37",
      "name": "Webhook",
      "webhookId": "eaadff5a-52fe-4910-ac37-4e9e9c389e16"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.user_id || !body.profile) {\n  throw new Error('Missing user_id or profile');\n}\n\nconst profile = body.profile;\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    profile: profile,\n    iteration: 0,\n    resume_data: null,\n    ats_score: 0,\n    best_resume_data: null,\n    best_score: -1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        224
      ],
      "id": "67b2b08c-db06-4e48-a85c-3e7343756970",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst iteration = (data.iteration || 0) + 1;\n\n// Track the best resume seen so far so we never ship a worse one\nlet bestScore = (data.best_score === undefined || data.best_score === null) ? -1 : data.best_score;\nlet bestResume = data.best_resume_data || null;\nif (data.ats_score > bestScore) {\n  bestScore = data.ats_score;\n  bestResume = data.resume_data;\n}\n\nconst needsRefinement = data.ats_score < 90 && iteration < 4;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: data.resume_data,\n    ats_score: data.ats_score,\n    score_breakdown: data.score_breakdown || {},\n    suggestions: data.suggestions || [],\n    missing_keywords: data.missing_keywords || [],\n    iteration: iteration,\n    needs_refinement: needsRefinement,\n    best_resume_data: bestResume,\n    best_score: bestScore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "78661de6-eaa2-45d1-a803-5f66aa692a96",
      "name": "Check Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e05e52-65fc-412c-88ef-05033500d86e",
              "leftValue": "={{ $json.needs_refinement }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        224
      ],
      "id": "b851a371-35a4-49fa-aa47-9bfdd8e71d05",
      "name": "Score Gate"
    },
    {
      "parameters": {
        "jsCode": "let isRefinement = false;\nlet prev = null;\n\ntry {\n  prev = $('Check Score').first().json;\n  isRefinement = prev && prev.iteration > 0;\n} catch(e) {\n  isRefinement = false;\n}\n\nconst parseInput = $('Parse Input').first().json;\n\nconst schema = '{\"full_name\":\"\",\"summary\":\"\",\"experience\":[{\"company\":\"\",\"role\":\"\",\"dates\":\"\",\"bullets\":[\"\"]}],\"education\":[{\"degree\":\"\",\"field\":\"\",\"institution\":\"\",\"year\":\"\",\"grade\":\"\"}],\"skills\":[\"\"],\"projects\":[{\"name\":\"\",\"description\":\"\",\"tech\":\"\",\"github\":\"\"}],\"achievements\":[{\"title\":\"\",\"description\":\"\",\"year\":\"\"}],\"certifications\":[{\"name\":\"\",\"issuer\":\"\",\"year\":\"\",\"credential_url\":\"\"}]}';\n\nconst rules = 'RULES: Start every experience and project bullet with a strong action verb (Built, Designed, Automated, Led, Reduced, Increased, Migrated, Optimized). Quantify EVERY bullet with a concrete number, percentage, time saved, or scale. Mirror the candidate skills as keywords naturally; do not keyword-stuff. Write a sharp 2-3 sentence summary. Include achievements and certifications when available.';\n\nlet userMessage = '';\n\nif (isRefinement && prev) {\n  userMessage = 'Improve this resume to raise its ATS score above 90. Current score: ' + prev.ats_score + '/100. Fix these specific weaknesses: ' + (prev.suggestions || []).join(' | ') + '. Missing keywords to weave in naturally: ' + (prev.missing_keywords || []).join(', ') + '. ' + rules + ' Current resume JSON: ' + JSON.stringify(prev.resume_data) + '. Return ONLY improved valid JSON with this exact structure: ' + schema;\n} else {\n  userMessage = 'Create a professional ATS-optimized resume for this candidate. Profile: ' + JSON.stringify(parseInput.profile) + '. ' + rules + ' Return ONLY valid JSON with this exact structure: ' + schema;\n}\n\nreturn [{\n  json: {\n    user_id: parseInput.user_id,\n    profile: parseInput.profile,\n    iteration: isRefinement ? (prev.iteration || 0) : 0,\n    best_resume_data: isRefinement ? (prev.best_resume_data || null) : null,\n    best_score: isRefinement ? (prev.best_score === undefined ? -1 : prev.best_score) : -1,\n    systemMessage: 'You are an expert resume writer specializing in cloud engineering and DevOps roles. Always respond with valid JSON only, no markdown, no explanation, no code blocks.',\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        224
      ],
      "id": "987b85aa-74be-4b37-ae61-3c9e385afb31",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Deterministic, rule-based ATS scorer. No LLM grading, no fixed 85 fallback.\nconst data = $input.first().json;\nconst r = data.resume_data || {};\n\nconst WEAK_VERBS = ['worked','helped','responsible','assisted','involved','participated','handled','did','made','used','supported'];\nconst STRONG_VERBS = ['built','designed','architected','led','automated','reduced','increased','improved','deployed','implemented','migrated','optimized','developed','launched','scaled','delivered','engineered','orchestrated','streamlined','accelerated','spearheaded','created','managed','drove'];\n\nconst profileSkills = (data.profile && data.profile.skills ? data.profile.skills : []).map(s => String(s).toLowerCase());\nconst targetKeywords = Array.from(new Set(profileSkills));\n\nfunction hasMetric(str) { return /\\d/.test(String(str)); }\nfunction firstWord(str) { return String(str).trim().split(/\\s+/)[0].toLowerCase().replace(/[^a-z]/g, ''); }\n\nconst weaknesses = [];\nconst experience = Array.isArray(r.experience) ? r.experience : [];\nconst projects = Array.isArray(r.projects) ? r.projects : [];\nconst skills = Array.isArray(r.skills) ? r.skills : [];\n\nconst allBullets = [];\nexperience.forEach(e => (e.bullets || []).forEach(b => allBullets.push(b)));\nprojects.forEach(p => { if (p.description) String(p.description).split('.').filter(s => s.trim().length > 10).forEach(s => allBullets.push(s)); });\n\n// 1. Keyword coverage (25)\nconst resumeText = JSON.stringify(r).toLowerCase();\nconst matchedKw = targetKeywords.filter(k => k && resumeText.includes(k));\nconst missingKw = targetKeywords.filter(k => k && !resumeText.includes(k));\nconst kwScore = targetKeywords.length ? Math.round((matchedKw.length / targetKeywords.length) * 25) : 18;\nif (missingKw.length) weaknesses.push('Incorporate these keywords naturally: ' + missingKw.slice(0, 8).join(', '));\n\n// 2. Action verbs (20)\nlet strongCount = 0, weakCount = 0;\nallBullets.forEach(b => { const w = firstWord(b); if (STRONG_VERBS.includes(w)) strongCount++; else if (WEAK_VERBS.includes(w)) weakCount++; });\nconst verbScore = allBullets.length ? Math.round((strongCount / allBullets.length) * 20) : 10;\nif (weakCount > 0) weaknesses.push(weakCount + ' bullet(s) start with weak verbs; begin each with a strong action verb (Built, Automated, Reduced).');\n\n// 3. Quantified achievements (20)\nconst quantified = allBullets.filter(hasMetric).length;\nconst quantScore = allBullets.length ? Math.round((quantified / allBullets.length) * 20) : 8;\nif (allBullets.length && quantified < allBullets.length) weaknesses.push((allBullets.length - quantified) + ' bullet(s) lack a metric; add numbers, %, time saved, or scale.');\n\n// 4. Structure / sections (20)\nlet structScore = 0;\nif (r.full_name) structScore += 2;\nif (r.summary && r.summary.length > 30) structScore += 3; else weaknesses.push('Add a strong 2-3 sentence professional summary.');\nif (experience.length) structScore += 5; else weaknesses.push('Add work experience.');\nif (Array.isArray(r.education) && r.education.length) structScore += 3; else weaknesses.push('Add education.');\nif (skills.length) structScore += 3; else weaknesses.push('Add a skills section.');\nif (projects.length) structScore += 2; else weaknesses.push('Add at least one project.');\nif (Array.isArray(r.achievements) && r.achievements.length) structScore += 1; else weaknesses.push('Add an Achievements section.');\nif (Array.isArray(r.certifications) && r.certifications.length) structScore += 1; else weaknesses.push('Add a Certifications section.');\nif (structScore > 20) structScore = 20;\n\n// 5. Skills depth (15)\nconst skillScore = Math.min(15, Math.round((skills.length / 12) * 15));\nif (skills.length < 8) weaknesses.push('List at least 8-12 relevant skills.');\n\nconst score = Math.max(0, Math.min(100, kwScore + verbScore + quantScore + structScore + skillScore));\n\nreturn [{\n  json: {\n    ...data,\n    ats_score: score,\n    score_breakdown: { keywords: kwScore, action_verbs: verbScore, achievements: quantScore, structure: structScore, skills: skillScore },\n    suggestions: weaknesses,\n    missing_keywords: missingKw\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "50506e4e-6c35-4bfa-9b3c-ff801abfebf7",
      "name": "Score ATS1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst apiKey = 'your_api_key_here'; // your real key\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    { role: 'system', content: data.systemMessage },\n    { role: 'user', content: data.userMessage }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  max_tokens: 4096\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content \n  || choice.message.reasoning_content \n  || choice.message.reasoning \n  || '';\n\nif (!rawContent) {\n  throw new Error('Empty response from model. Full response: ' + JSON.stringify(parsed));\n}\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON found in response: ' + cleaned.substring(0, 300));\n}\n\nconst jsonString = cleaned.substring(jsonStart, jsonEnd + 1);\n\nlet resumeData;\ntry {\n  resumeData = JSON.parse(jsonString);\n} catch(e) {\n  throw new Error('JSON parse failed: ' + jsonString.substring(0, 300));\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: resumeData,\n    iteration: data.iteration || 0,\n    best_resume_data: data.best_resume_data || null,\n    best_score: data.best_score === undefined ? -1 : data.best_score,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        224
      ],
      "id": "38dd424c-e930-4366-9f5c-46554aa35538",
      "name": "Generate Resume"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"s3_url\": \"={{ $json.s3_url }}\",\n  \"ats_score\": \"={{ $json.ats_score }}\",\n  \"match_score\": \"={{ $json.match_score }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        224
      ],
      "id": "bf2c1053-1e78-43cb-8c17-b33959470c8c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"your_service_role_key_here\";\n\n// Resolve user_id robustly: current item first, then fall back to the webhook input\nlet userId = data.user_id;\nif (!userId) {\n  try { userId = $('Webhook').first().json.body.user_id; } catch (e) {}\n}\nif (!userId) {\n  try { userId = $('Parse Input').first().json.user_id; } catch (e) {}\n}\nif (!userId) {\n  throw new Error('Could not resolve user_id from item, Webhook, or Parse Input');\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl + '/rest/v1/resumes',\n  headers: {\n    'apikey': serviceRoleKey,\n    'Authorization': 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: JSON.stringify({\n    user_id: userId,\n    type: 'base',\n    s3_url: data.s3_url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst parsed = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n\nif (response.statusCode !== 201) {\n  throw new Error('Supabase error ' + response.statusCode + ': ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    success: true,\n    user_id: userId,\n    s3_url: data.s3_url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "9fdb7296-2eaa-4e06-b714-fffe23de29c7",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "jsCode": "const bucketName = \"resume-builder-pdfs-t2311\";\nconst region = \"ap-southeast-2\";\n\nconst data = $input.first().json;\n\nconst userId = data.user_id;\nconst filename = data.filename;\n\nconst s3Url = `https://${bucketName}.s3.${region}.amazonaws.com/resumes/${userId}/${filename}`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    s3_url: s3Url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0,\n    filename: filename\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "b5df10f4-4b3a-4453-84f3-910b7110baaa",
      "name": "Build S3 URL"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "resume-builder-pdfs-t2311",
        "fileName": "=resumes/{{ $json.user_id }}/{{ $json.filename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b64035c0-c696-45e8-85a9-1ba7f6882b8c",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "SLn08B6Bh5C2L6E0",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Use the best resume produced across all iterations\nconst r = (data.best_score !== undefined && data.best_score >= data.ats_score && data.best_resume_data) ? data.best_resume_data : data.resume_data;\nconst finalScore = Math.max(data.ats_score || 0, data.best_score || 0);\nconst profile = data.profile || {};\n\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/&/g, '\\\\&')\n    .replace(/%/g, '\\\\%')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/#/g, '\\\\#')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}');\n}\n\nconst allSkills = r.skills || [];\nconst cloudSkills = allSkills.filter(s => ['aws','ec2','s3','iam','gcp','azure','terraform','cloud'].some(k => s.toLowerCase().includes(k)));\nconst containerSkills = allSkills.filter(s => ['docker','kubernetes','k8s','helm','argocd','container'].some(k => s.toLowerCase().includes(k)));\nconst cicdSkills = allSkills.filter(s => ['ci','cd','jenkins','github actions','gitlab','bash','shell','linux','git'].some(k => s.toLowerCase().includes(k)));\nconst monitorSkills = allSkills.filter(s => ['prometheus','grafana','monitor','elk','datadog','observ'].some(k => s.toLowerCase().includes(k)));\nconst otherSkills = allSkills.filter(s => ![...cloudSkills,...containerSkills,...cicdSkills,...monitorSkills].includes(s));\n\nconst experienceLatex = (r.experience || []).map(exp => `\n\\\\resumeheading{${esc(exp.company)}}{${esc(profile.location || '')}}{${esc(exp.role)}}{${esc(exp.dates)}}\n\\\\begin{resumeitem}\n${(exp.bullets || []).map(b => `  \\\\item ${esc(b)}`).join('\\n')}\n\\\\end{resumeitem}\n\\\\vspace{2pt}\n`).join('\\n');\n\nconst educationLatex = (r.education || []).map(edu => `\n\\\\resumeheading{${esc(edu.institution)}}{${esc(profile.location || '')}}{${esc(edu.degree)} in ${esc(edu.field)}}{${esc(edu.year)}}\n\\\\begin{flushleft}\n\\\\vspace{-6pt}\n${edu.grade ? `CGPA: ${esc(edu.grade)} \\\\\\\\` : ''}\n\\\\end{flushleft}\n`).join('\\n');\n\nconst projectsLatex = (r.projects || []).map(p => {\n  const bullets = (p.description || '').split('.').filter(s => s.trim().length > 10).map(s => `  \\\\item ${esc(s.trim())}.`).join('\\n');\n  return `\n\\\\noindent\\\\textbf{${esc(p.name)}} \\\\hfill ${p.github ? `\\\\href{${esc(p.github)}}{\\\\textbf{[GitHub]}}` : ''}\\\\\\\\\n\\\\noindent\\\\textit{Tech Stack: ${esc(p.tech)}} \\\\hfill \\\\\\\\\n\\\\vspace{-4pt}\n\\\\begin{resumeitem}\n${bullets}\n\\\\end{resumeitem}\n\\\\vspace{4pt}\n`;\n}).join('\\n');\n\nconst achievements = Array.isArray(r.achievements) ? r.achievements : [];\nconst achievementsLatex = achievements.length ? `\\\\section{Achievements}\n\\\\begin{resumeitem}\n${achievements.map(a => `  \\\\item \\\\textbf{${esc(a.title)}}${a.year ? ` (${esc(a.year)})` : ''}${a.description ? ` — ${esc(a.description)}` : ''}`).join('\\n')}\n\\\\end{resumeitem}` : '';\n\nconst certifications = Array.isArray(r.certifications) ? r.certifications : [];\nconst certificationsLatex = certifications.length ? `\\\\section{Certifications}\n\\\\begin{resumeitem}\n${certifications.map(c => `  \\\\item \\\\textbf{${esc(c.name)}}${c.issuer ? `, ${esc(c.issuer)}` : ''}${c.year ? ` (${esc(c.year)})` : ''}${c.credential_url ? ` \\\\href{${esc(c.credential_url)}}{[Verify]}` : ''}`).join('\\n')}\n\\\\end{resumeitem}` : '';\n\nconst latex = `\\\\documentclass[9pt,letterpaper]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=0.4in]{geometry}\n\\\\usepackage{titlesec}\n\\\\usepackage{enumitem}\n\\\\usepackage{hyperref}\n\\\\usepackage{nopageno}\n\\\\usepackage{xcolor}\n\\\\usepackage{fontawesome5}\n\n\\\\definecolor{linkblue}{RGB}{20, 70, 160}\n\\\\hypersetup{colorlinks=true,linkcolor=linkblue,urlcolor=linkblue}\n\n\\\\pagestyle{empty}\n\n\\\\titleformat{\\\\section}{\\\\large\\\\bfseries\\\\scshape}{}{0em}{}[\\\\titlerule]\n\\\\titlespacing{\\\\section}{0pt}{6pt}{3pt}\n\n\\\\newlist{resumeitem}{itemize}{1}\n\\\\setlist[resumeitem]{label=$\\\\bullet$, leftmargin=12pt, topsep=1pt, itemsep=1pt, parsep=0pt}\n\n\\\\newcommand{\\\\resumeheading}[4]{\n    \\\\noindent\\\\textbf{#1} \\\\hfill #2\\\\\\\\\n    \\\\noindent\\\\textit{#3} \\\\hfill \\\\textit{#4}\\\\vspace{1pt}\n}\n\n\\\\begin{document}\n\n\\\\begin{center}\n    {\\\\Huge \\\\textbf{\\\\textsc{${esc(r.full_name || profile.full_name || 'Name')}}}}\\\\\\\\\n    \\\\vspace{3pt}\n    ${esc(profile.location || '')} \\\\textbullet{} ${esc(profile.phone || '')} \\\\textbullet{} \\\\href{mailto:${esc(profile.email || '')}}{${esc(profile.email || '')}} \\\\\\\\\n    \\\\vspace{4pt}\n    ${profile.linkedin ? `\\\\href{https://${esc(profile.linkedin)}}{\\\\faLinkedin{} \\\\textbf{LinkedIn}} \\\\textbullet{}` : ''}\n    ${profile.github ? `\\\\href{https://${esc(profile.github)}}{\\\\faGithub{} \\\\textbf{GitHub}}` : ''}\n\\\\end{center}\n\n${r.summary ? `\\\\section{Summary}\n${esc(r.summary)}` : ''}\n\n\\\\section{Education}\n${educationLatex}\n\n\\\\section{Technical Skills}\n\\\\noindent \\\\textbf{Cloud \\\\& Infrastructure:} ${esc(cloudSkills.join(', '))} \\\\\\\\\n\\\\textbf{Containerization \\\\& Orchestration:} ${esc(containerSkills.join(', '))} \\\\\\\\\n\\\\textbf{CI/CD \\\\& Automation:} ${esc(cicdSkills.join(', '))} \\\\\\\\\n\\\\textbf{Monitoring \\\\& Observability:} ${esc(monitorSkills.join(', '))} \\\\\\\\\n${otherSkills.length > 0 ? `\\\\textbf{Other:} ${esc(otherSkills.join(', '))} \\\\\\\\` : ''}\n\n\\\\section{Work Experience}\n${experienceLatex}\n\n\\\\section{Projects}\n${projectsLatex}\n\n${achievementsLatex}\n\n${certificationsLatex}\n\n\\\\end{document}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://latex.ytotech.com/builds/sync',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    compiler: 'pdflatex',\n    resources: [\n      {\n        main: true,\n        content: latex\n      }\n    ]\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n  encoding: 'arraybuffer'\n});\n\nif (response.statusCode !== 200 && response.statusCode !== 201) {\n  let errMsg = '';\n  try {\n    errMsg = Buffer.from(response.body).toString('utf8').substring(0, 500);\n  } catch(e) {}\n  throw new Error('LaTeX compilation failed: ' + response.statusCode + ' — ' + errMsg);\n}\n\nconst filename = `resume_${data.user_id}_${Date.now()}.pdf`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(response.body),\n  filename,\n  'application/pdf'\n);\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    ats_score: finalScore,\n    match_score: data.match_score || 0,\n    filename: filename\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        224
      ],
      "id": "965b42e2-5558-48d0-8f24-507f9ebcca6c",
      "name": "Generate LaTeX PDF"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate LaTeX PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ATS1": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume": {
      "main": [
        [
          {
            "node": "Score ATS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build S3 URL": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Build S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "45c8044f-6992-4e6e-9735-ea19bad3baef",
  "meta": {
    "instanceId": "c929c734d6eed994ee8b5332e41aedafb118d597f4e027e68c16c5a044273a20"
  },
  "id": "QfGvJygaSkhPdMSz",
  "tags": []
}