n8n-workflows/01 - Base Resume Generator.json
{
  "name": "01 - Base Resume Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "base-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        80
      ],
      "id": "35e290c2-b704-483a-be6f-939082f2ee2c",
      "name": "Webhook",
      "webhookId": "eaadff5a-52fe-4910-ac37-4e9e9c389e16"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate required fields\nif (!body.user_id || !body.profile) {\n  throw new Error('Missing user_id or profile');\n}\n\nconst profile = body.profile;\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    profile: profile,\n    iteration: 0,\n    resume_data: null,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        80
      ],
      "id": "aaed8e2c-d5b7-4867-88ba-83135752e944",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "jsCode": "// Input comes directly from Score ATS code node now\nconst data = $input.first().json;\n\nconst iteration = (data.iteration || 0) + 1;\nconst needsRefinement = data.ats_score < 80 && iteration < 3;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: data.resume_data,\n    ats_score: data.ats_score,\n    score_breakdown: data.score_breakdown || {},\n    suggestions: data.suggestions || [],\n    missing_keywords: data.missing_keywords || [],\n    iteration: iteration,\n    needs_refinement: needsRefinement\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -144
      ],
      "id": "962c32be-5965-4088-9cfe-1e7664dd31b0",
      "name": "Check Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e05e52-65fc-412c-88ef-05033500d86e",
              "leftValue": "={{ $json.needs_refinement }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        80
      ],
      "id": "90348c3d-7138-46d2-91fb-f9c7b80f4532",
      "name": "Score Gate"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst r = data.resume_data;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body { font-family: 'Arial', sans-serif; font-size: 13px; color: #222; padding: 40px 50px; max-width: 850px; margin: 0 auto; }\n  h1 { font-size: 26px; font-weight: 700; color: #1a1a2e; letter-spacing: 0.5px; }\n  .contact-line { font-size: 12px; color: #555; margin-top: 4px; }\n  .section { margin-top: 22px; }\n  .section-title { font-size: 13px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.5px; color: #1a1a2e; border-bottom: 2px solid #1a1a2e; padding-bottom: 3px; margin-bottom: 12px; }\n  .summary { font-size: 13px; line-height: 1.6; color: #444; }\n  .job { margin-bottom: 14px; }\n  .job-header { display: flex; justify-content: space-between; align-items: baseline; }\n  .job-title { font-weight: 700; font-size: 13px; }\n  .job-company { font-size: 12px; color: #555; margin-top: 1px; }\n  .job-dates { font-size: 12px; color: #777; white-space: nowrap; }\n  ul { padding-left: 16px; margin-top: 5px; }\n  ul li { margin-bottom: 3px; line-height: 1.5; }\n  .edu-item { display: flex; justify-content: space-between; margin-bottom: 8px; }\n  .edu-left .degree { font-weight: 700; }\n  .edu-left .institution { font-size: 12px; color: #555; }\n  .edu-right { font-size: 12px; color: #777; text-align: right; }\n  .skills-grid { display: flex; flex-wrap: wrap; gap: 6px; }\n  .skill-tag { background: #f0f4ff; color: #1a1a2e; padding: 3px 10px; border-radius: 12px; font-size: 12px; border: 1px solid #d0d8ff; }\n  .project { margin-bottom: 12px; }\n  .project-name { font-weight: 700; }\n  .project-tech { font-size: 11px; color: #777; font-style: italic; margin-top: 2px; }\n  .project-desc { font-size: 12px; color: #444; margin-top: 3px; line-height: 1.5; }\n  .ats-badge { position: fixed; top: 10px; right: 10px; background: #16a34a; color: white; padding: 4px 10px; border-radius: 20px; font-size: 11px; font-weight: 600; }\n</style>\n</head>\n<body>\n  <div class=\"ats-badge\">ATS Score: ${data.ats_score}/100</div>\n\n  <h1>${r.full_name || 'Name'}</h1>\n  <div class=\"contact-line\">\n    ${[data.profile?.email, data.profile?.phone, data.profile?.location, data.profile?.linkedin, data.profile?.github].filter(Boolean).join(' · ')}\n  </div>\n\n  ${r.summary ? `\n  <div class=\"section\">\n    <div class=\"section-title\">Summary</div>\n    <p class=\"summary\">${r.summary}</p>\n  </div>` : ''}\n\n  ${(r.experience || []).length > 0 ? `\n  <div class=\"section\">\n    <div class=\"section-title\">Experience</div>\n    ${(r.experience || []).map(exp => `\n      <div class=\"job\">\n        <div class=\"job-header\">\n          <div>\n            <div class=\"job-title\">${exp.role || ''}</div>\n            <div class=\"job-company\">${exp.company || ''}</div>\n          </div>\n          <div class=\"job-dates\">${exp.dates || ''}</div>\n        </div>\n        <ul>\n          ${(exp.bullets || []).map(b => `<li>${b}</li>`).join('')}\n        </ul>\n      </div>\n    `).join('')}\n  </div>` : ''}\n\n  ${(r.education || []).length > 0 ? `\n  <div class=\"section\">\n    <div class=\"section-title\">Education</div>\n    ${(r.education || []).map(edu => `\n      <div class=\"edu-item\">\n        <div class=\"edu-left\">\n          <div class=\"degree\">${edu.degree} in ${edu.field || ''}</div>\n          <div class=\"institution\">${edu.institution || ''}</div>\n        </div>\n        <div class=\"edu-right\">\n          ${edu.year || ''}<br/>\n          ${edu.grade ? `Grade: ${edu.grade}` : ''}\n        </div>\n      </div>\n    `).join('')}\n  </div>` : ''}\n\n  ${(r.skills || []).length > 0 ? `\n  <div class=\"section\">\n    <div class=\"section-title\">Skills</div>\n    <div class=\"skills-grid\">\n      ${(r.skills || []).map(s => `<span class=\"skill-tag\">${s}</span>`).join('')}\n    </div>\n  </div>` : ''}\n\n  ${(r.projects || []).length > 0 ? `\n  <div class=\"section\">\n    <div class=\"section-title\">Projects</div>\n    ${(r.projects || []).map(p => `\n      <div class=\"project\">\n        <div class=\"project-name\">${p.name || ''} ${p.github ? `<a href=\"${p.github}\" style=\"font-size:11px;color:#3b82f6;\">[GitHub]</a>` : ''}</div>\n        <div class=\"project-tech\">${p.tech || ''}</div>\n        <div class=\"project-desc\">${p.description || ''}</div>\n      </div>\n    `).join('')}\n  </div>` : ''}\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...data,\n    html: html,\n    filename: `resume_${data.user_id}_${Date.now()}.pdf`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        80
      ],
      "id": "36a20351-6229-4abf-aa13-5a9f707545b6",
      "name": "Build HTML Template"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -144
      ],
      "id": "f87e3c28-e8b9-4ffe-993b-5a40a5f340fe",
      "name": "Generate PDF"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst html = data.html;\n\n// Convert HTML string to binary buffer\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf-8'),\n  'index.html',\n  'text/html'\n);\n\nreturn [{\n  json: { ...data },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -144
      ],
      "id": "5f2f7610-d4ac-4558-a731-1adbabdf880b",
      "name": "Convert HTML to Binary"
    },
    {
      "parameters": {
        "jsCode": "const bucketName = \"resume-builder-pdfs-t2311\";\nconst region = \"ap-southeast-2\";\n\nconst htmlData = $('Build HTML Template').first().json;\nconst userId = htmlData.user_id;\nconst filename = htmlData.filename;\n\nconst s3Url = `https://${bucketName}.s3.${region}.amazonaws.com/resumes/${userId}/${filename}`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    s3_url: s3Url,\n    ats_score: $('Check Score').first().json.ats_score,\n    filename: filename\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        80
      ],
      "id": "0363f71e-4257-4b60-a589-b6a7025292d7",
      "name": "Build S3 URL"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"s3_url\": \"={{ $json.s3_url }}\",\n  \"ats_score\": \"={{ $json.ats_score }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -16
      ],
      "id": "9bab0201-1917-4616-8984-26fafc5efc45",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "let isRefinement = false;\nlet prev = null;\n\ntry {\n  prev = $('Check Score').first().json;\n  isRefinement = prev && prev.iteration > 0;\n} catch(e) {\n  isRefinement = false;\n}\n\nconst parseInput = $('Parse Input').first().json;\n\nlet userMessage = '';\n\nif (isRefinement && prev) {\n  userMessage = 'Refine this resume to score higher on ATS. Current score: ' + prev.ats_score + '/100. Suggestions: ' + (prev.suggestions || []).join('. ') + '. Missing keywords: ' + (prev.missing_keywords || []).join(', ') + '. Current resume: ' + JSON.stringify(prev.resume_data) + '. Return ONLY improved JSON with same structure.';\n} else {\n  userMessage = 'Create a professional ATS-optimized resume for this candidate. Profile: ' + JSON.stringify(parseInput.profile) + '. Return ONLY valid JSON: {\"full_name\":\"\",\"summary\":\"\",\"experience\":[{\"company\":\"\",\"role\":\"\",\"dates\":\"\",\"bullets\":[\"\"]}],\"education\":[{\"degree\":\"\",\"field\":\"\",\"institution\":\"\",\"year\":\"\",\"grade\":\"\"}],\"skills\":[\"\"],\"projects\":[{\"name\":\"\",\"description\":\"\",\"tech\":\"\",\"github\":\"\"}]}';\n}\n\n// Store as flat strings — not nested array\nreturn [{\n  json: {\n    user_id: parseInput.user_id,\n    profile: parseInput.profile,\n    iteration: isRefinement ? (prev.iteration || 0) : 0,\n    systemMessage: 'You are an expert resume writer specializing in cloud engineering and DevOps roles. Always respond with valid JSON only, no markdown, no explanation, no code blocks.',\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        80
      ],
      "id": "6a4a48b2-a55f-430a-8931-47c003a59c4c",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = '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'\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an ATS scoring expert. Always respond with valid JSON only, no markdown, no explanation.'\n    },\n    {\n      role: 'user',\n      content: 'Score this resume for ATS compatibility from 0 to 100. Resume: ' + JSON.stringify(data.resume_data) + '. Return ONLY valid JSON: {\"score\":85,\"breakdown\":{\"keywords\":20,\"action_verbs\":18,\"achievements\":15,\"structure\":17,\"skills\":15},\"suggestions\":[\"tip1\"],\"missing_keywords\":[\"keyword1\"]}'\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content\n  || choice.message.reasoning_content\n  || choice.message.reasoning\n  || '';\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nlet scoreData;\nif (jsonStart !== -1 && jsonEnd !== -1) {\n  try {\n    scoreData = JSON.parse(cleaned.substring(jsonStart, jsonEnd + 1));\n  } catch(e) {\n    scoreData = { score: 85, suggestions: [], missing_keywords: [] };\n  }\n} else {\n  scoreData = { score: 85, suggestions: [], missing_keywords: [] };\n}\n\nreturn [{\n  json: {\n    ...data,\n    ats_score: scoreData.score || 85,\n    score_breakdown: scoreData.breakdown || {},\n    suggestions: scoreData.suggestions || [],\n    missing_keywords: scoreData.missing_keywords || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -144
      ],
      "id": "0c502ee3-5c9c-480c-9204-0d89ca69791c",
      "name": "Score ATS1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "resume-builder-pdfs-t23",
        "fileName": "={{ \"resumes/\" + $('Build HTML Template').first().json.user_id + \"/\" + $('Build HTML Template').first().json.filename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        624,
        80
      ],
      "id": "54b96bf6-c8cf-435c-9afc-6aa8bf21f59f",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "SLn08B6Bh5C2L6E0",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4cG9zZm51c2Vsc3lqZWpqaHRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ5NDczNywiZXhwIjoyMDk1MDcwNzM3fQ.ENlFQsNPDctsaODUM4g1ano44A8KjUVJilgOcLkz-fw\";\n\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${supabaseUrl}/rest/v1/resumes`,\n    headers: {\n      'apikey': serviceRoleKey,\n      'Authorization': `Bearer ${serviceRoleKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: JSON.stringify({\n      user_id: data.user_id,\n      type: 'base',\n      s3_url: data.s3_url,\n      ats_score: data.ats_score\n    }),\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n} catch(e) {\n  throw new Error('Request failed: ' + e.message);\n}\n\nconst parsed = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n\n// Throw full details so we can see what Supabase says\nif (response.statusCode !== 201) {\n  throw new Error(`Supabase error ${response.statusCode}: ${JSON.stringify(parsed)}`);\n}\n\nreturn [{\n  json: {\n    success: true,\n    resume_id: parsed[0]?.id || null,\n    user_id: data.user_id,\n    s3_url: data.s3_url,\n    ats_score: data.ats_score\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -144
      ],
      "id": "7acd7b9f-fb5b-4a4b-9109-5aaf9b9c110b",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst apiKey = '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'; // your real key\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    { role: 'system', content: data.systemMessage },\n    { role: 'user', content: data.userMessage }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  max_tokens: 4096\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\n// This model returns content in 'reasoning' or 'reasoning_content' when content is null\nlet rawContent = choice.message.content \n  || choice.message.reasoning_content \n  || choice.message.reasoning \n  || '';\n\nif (!rawContent) {\n  throw new Error('Empty response from model. Full response: ' + JSON.stringify(parsed));\n}\n\n// Clean markdown fences\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\n// Extract JSON — find first { to last }\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON found in response: ' + cleaned.substring(0, 300));\n}\n\nconst jsonString = cleaned.substring(jsonStart, jsonEnd + 1);\n\nlet resumeData;\ntry {\n  resumeData = JSON.parse(jsonString);\n} catch(e) {\n  throw new Error('JSON parse failed: ' + jsonString.substring(0, 300));\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: resumeData,\n    iteration: data.iteration || 0,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        80
      ],
      "id": "7cbef4d5-e449-4706-935f-08389f296644",
      "name": "Generate Resume"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Template": {
      "main": [
        [
          {
            "node": "Convert HTML to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Binary": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build S3 URL": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ATS1": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Build S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume": {
      "main": [
        [
          {
            "node": "Score ATS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "5dbc8ead-c05a-4ef9-b723-21fe2c680cb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c929c734d6eed994ee8b5332e41aedafb118d597f4e027e68c16c5a044273a20"
  },
  "id": "4oPpSFYwJ0fsTiCi",
  "tags": []
}