n8n-workflows/02 - JD Tailored Resume.json
{
  "name": "02 - JD Tailored Resume",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-match",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        176
      ],
      "id": "b464b073-2990-45c9-b2d9-d68076f6cc60",
      "name": "Webhook",
      "webhookId": "91ed5980-2a1d-48fa-a878-3838d411bb89"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = \"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\";\n\n// Verify message is not empty before calling API\nif (!data.userMessage || data.userMessage.length < 100) {\n  throw new Error('userMessage is empty or too short: ' + (data.userMessage || 'EMPTY'));\n}\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    { role: 'system', content: data.systemMessage },\n    { role: 'user', content: data.userMessage }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  max_tokens: 4096\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content\n  || choice.message.reasoning_content\n  || choice.message.reasoning\n  || '';\n\nif (!rawContent || rawContent.length < 10) {\n  throw new Error('Empty response from model. Full API response: ' + JSON.stringify(parsed).substring(0, 500));\n}\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON found in response: ' + cleaned.substring(0, 300));\n}\n\nlet resumeData;\ntry {\n  resumeData = JSON.parse(cleaned.substring(jsonStart, jsonEnd + 1));\n} catch(e) {\n  throw new Error('JSON parse failed: ' + cleaned.substring(jsonStart, jsonStart + 300));\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    match_score: data.match_score,\n    matched_keywords: data.matched_keywords,\n    missing_keywords: data.missing_keywords,\n    resume_data: resumeData,\n    iteration: data.iteration || 0,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "17c8770e-44a1-42c8-9041-331a72e326c3",
      "name": "Build Tailored Resume"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "resume-builder-pdfs-t2311",
        "fileName": "=resumes/{{ $('Check Score').first().json.user_id }}/{{ $('Generate LaTeX PDF').first().json.filename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        624,
        224
      ],
      "id": "c43f5977-b0e6-46c0-8fa0-fea4e3d81d35",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "SLn08B6Bh5C2L6E0",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = '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';\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an ATS scoring expert. Return valid JSON only. No markdown. No explanation.'\n    },\n    {\n      role: 'user',\n      content: 'Score this resume for ATS compatibility from 0 to 100. Consider keyword density, action verbs, quantified achievements, structure, skills completeness. Resume data: ' + JSON.stringify(data.resume_data) + '. Return ONLY valid JSON: {\"score\":85,\"breakdown\":{\"keywords\":20,\"action_verbs\":18,\"achievements\":15,\"structure\":17,\"skills\":15},\"suggestions\":[\"suggestion1\",\"suggestion2\"],\"missing_keywords\":[\"keyword1\",\"keyword2\"]}'\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content\n  || choice.message.reasoning_content\n  || choice.message.reasoning\n  || '';\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nlet scoreData = { score: 85, suggestions: [], missing_keywords: [] };\nif (jsonStart !== -1 && jsonEnd !== -1) {\n  try {\n    scoreData = JSON.parse(cleaned.substring(jsonStart, jsonEnd + 1));\n  } catch(e) {\n    // keep default\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: data.resume_data,\n    match_score: data.match_score,\n    ats_score: scoreData.score || 85,\n    score_breakdown: scoreData.breakdown || {},\n    suggestions: scoreData.suggestions || [],\n    missing_keywords: scoreData.missing_keywords || [],\n    iteration: data.iteration || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        224
      ],
      "id": "624b5198-f49a-4ca2-b3f3-1391b346c0e1",
      "name": "Score ATS"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst iteration = (data.iteration || 0) + 1;\nconst needsRefinement = data.ats_score < 85 && iteration < 3;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    resume_data: data.resume_data,\n    match_score: data.match_score,\n    ats_score: data.ats_score,\n    score_breakdown: data.score_breakdown || {},\n    suggestions: data.suggestions || [],\n    missing_keywords: data.missing_keywords || [],\n    iteration: iteration,\n    needs_refinement: needsRefinement\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "64f54daf-7b7d-4d9c-85d1-bef9eb03c61a",
      "name": "Check Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e05e52-65fc-412c-88ef-05033500d86e",
              "leftValue": "={{ $json.needs_refinement }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1e9020e4-1d69-4761-acdc-d308cf32bfca",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "56d43804-a8ce-4732-83e4-1d36c8067112",
      "name": "Score Gate"
    },
    {
      "parameters": {
        "jsCode": "const bucketName = \"resume-builder-pdfs-t2311\";\nconst region = \"ap-southeast-2\";\n\nconst data = $input.first().json;\n\n// Get user_id reliably from Check Score\nconst userId = data.user_id || $('Check Score').first().json.user_id;\n\n// Get filename from Generate LaTeX PDF\nconst filename = data.filename || $('Generate LaTeX PDF').first().json.filename;\n\nconst s3Url = `https://${bucketName}.s3.${region}.amazonaws.com/resumes/${userId}/${filename}`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    s3_url: s3Url,\n    ats_score: data.ats_score || $('Check Score').first().json.ats_score,\n    match_score: data.match_score || 0,\n    filename: filename\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "36889ccb-0e6d-4a29-82d5-cc18e0cc3ad4",
      "name": "Build S3 URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4cG9zZm51c2Vsc3lqZWpqaHRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ5NDczNywiZXhwIjoyMDk1MDcwNzM3fQ.ENlFQsNPDctsaODUM4g1ano44A8KjUVJilgOcLkz-fw\";\n\n// Get user_id from Check Score since it reliably has it\nconst userId = data.user_id || $('Check Score').first().json.user_id;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl + '/rest/v1/resumes',\n  headers: {\n    'apikey': serviceRoleKey,\n    'Authorization': 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: JSON.stringify({\n    user_id: userId,\n    type: 'jd_tailored',\n    s3_url: data.s3_url,\n    ats_score: data.ats_score,\n    match_score: data.match_score || 0\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst parsed = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n\nif (response.statusCode !== 201) {\n  throw new Error('Supabase error ' + response.statusCode + ': ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    success: true,\n    user_id: userId,\n    s3_url: data.s3_url,\n    ats_score: data.ats_score,\n    match_score: data.match_score || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "bc04f3ef-dcc6-4b04-8528-b63a7ee6ff14",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"s3_url\": \"={{ $json.s3_url }}\",\n  \"ats_score\": \"={{ $json.ats_score }}\",\n  \"match_score\": \"={{ $json.match_score }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        224
      ],
      "id": "1a8a8830-cbfc-48b4-a6f8-e9b6935139c7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.user_id || !body.jd_text) {\n  throw new Error('Missing user_id or jd_text. Received: ' + JSON.stringify(body));\n}\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4cG9zZm51c2Vsc3lqZWpqaHRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ5NDczNywiZXhwIjoyMDk1MDcwNzM3fQ.ENlFQsNPDctsaODUM4g1ano44A8KjUVJilgOcLkz-fw\";\n\n// Fetch profile from Supabase\nlet profile = {};\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/profiles?user_id=eq.' + body.user_id + '&select=*',\n    headers: {\n      'apikey': serviceRoleKey,\n      'Authorization': 'Bearer ' + serviceRoleKey,\n      'Content-Type': 'application/json'\n    },\n    returnFullResponse: false,\n    ignoreHttpStatusErrors: true\n  });\n  const parsed = typeof response === 'string' ? JSON.parse(response) : response;\n  profile = parsed[0] || {};\n} catch(e) {\n  // Continue with empty profile if fetch fails\n  profile = {};\n}\n\n// If no profile in Supabase, use test profile so workflow still runs\nif (!profile || !profile.skills) {\n  profile = {\n    full_name: \"Test User\",\n    email: \"test@email.com\",\n    phone: \"+91 98765 43210\",\n    location: \"Mumbai, India\",\n    linkedin: \"linkedin.com/in/testuser\",\n    github: \"github.com/testuser\",\n    skills: [\"Docker\", \"Kubernetes\", \"AWS\", \"Terraform\", \"CI/CD\", \"Jenkins\", \"GitHub Actions\", \"Linux\", \"Python\", \"Bash\", \"Prometheus\", \"Grafana\", \"Helm\", \"ArgoCD\"],\n    experience: [{\"company\": \"Tech Corp\", \"role\": \"DevOps Engineer\", \"start_date\": \"2022-01\", \"end_date\": \"2024-01\", \"description\": \"Managed Kubernetes clusters on AWS EKS. Built CI/CD pipelines reducing deployment time by 50%. Automated infrastructure with Terraform.\"}],\n    education: [{\"institution\": \"Mumbai University\", \"degree\": \"B.Tech\", \"field\": \"Computer Science\", \"start_year\": \"2018\", \"end_year\": \"2022\", \"grade\": \"8.5 CGPA\"}],\n    projects: [{\"name\": \"K8s Infra Automation\", \"description\": \"Automated Kubernetes infrastructure deployment using Terraform and ArgoCD\", \"tech_stack\": \"Kubernetes, Terraform, ArgoCD, AWS\"}]\n  };\n}\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    jd_text: body.jd_text,\n    profile: profile\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        176
      ],
      "id": "ba975c7c-faf6-42a3-bc2a-0e3e128b3791",
      "name": "Parse and Fetch"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = \"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\";\n\n// Step 1 — Extract keywords from JD using NVIDIA\nconst extractBody = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a job description analyst. Return valid JSON only. No markdown. No explanation.'\n    },\n    {\n      role: 'user',\n      content: 'Extract key information from this job description: ' + data.jd_text + '. Return ONLY this JSON structure: {\"role_title\":\"string\",\"required_skills\":[\"skill1\",\"skill2\"],\"tech_stack\":[\"tech1\",\"tech2\"],\"keywords_for_ats\":[\"keyword1\",\"keyword2\"],\"experience_level\":\"junior/mid/senior\"}'\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n};\n\nlet jdData = { role_title: '', required_skills: [], tech_stack: [], keywords_for_ats: [], experience_level: 'mid' };\n\ntry {\n  const extractResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer ' + apiKey,\n      'Content-Type': 'application/json',\n      'Accept': 'application/json'\n    },\n    body: JSON.stringify(extractBody),\n    returnFullResponse: false,\n    ignoreHttpStatusErrors: false\n  });\n\n  const extractParsed = typeof extractResponse === 'string' ? JSON.parse(extractResponse) : extractResponse;\n  const extractChoice = extractParsed.choices[0];\n  let extractRaw = extractChoice.message.content || extractChoice.message.reasoning_content || extractChoice.message.reasoning || '';\n  \n  extractRaw = extractRaw.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  const s = extractRaw.indexOf('{');\n  const e = extractRaw.lastIndexOf('}');\n  if (s !== -1 && e !== -1) {\n    jdData = JSON.parse(extractRaw.substring(s, e + 1));\n  }\n} catch(err) {\n  // If extraction fails continue with empty jdData\n}\n\n// Step 2 — Calculate gap analysis\nconst userSkills = (data.profile.skills || []).map(s => s.toLowerCase());\nconst jdKeywords = (jdData.keywords_for_ats || []).map(k => k.toLowerCase());\n\nconst matchedKeywords = jdKeywords.filter(k => userSkills.some(s => s.includes(k) || k.includes(s)));\nconst missingKeywords = jdKeywords.filter(k => !userSkills.some(s => s.includes(k) || k.includes(s)));\nconst matchScore = jdKeywords.length > 0 ? Math.round((matchedKeywords.length / jdKeywords.length) * 100) : 50;\n\n// Step 3 — Build the resume prompt directly here\nconst roleTitle = jdData.role_title || 'DevOps Engineer';\nconst keywords = (jdData.keywords_for_ats || []).join(', ') || 'Docker, Kubernetes, AWS, Terraform, CI/CD';\nconst techStack = (jdData.tech_stack || []).join(', ') || 'AWS, Docker, Kubernetes';\nconst profileStr = JSON.stringify(data.profile);\n\nconst userMessage = 'Create a professional ATS-optimized resume tailored for this job role: ' + roleTitle + '. You MUST include these keywords naturally throughout: ' + keywords + '. Tech stack required: ' + techStack + '. Candidate profile data: ' + profileStr + '. Instructions: Use strong action verbs, quantify all achievements with numbers, ensure 90+ ATS score. Return ONLY valid JSON with exactly this structure: {\"full_name\":\"string\",\"summary\":\"2-3 sentence summary mentioning ' + roleTitle + '\",\"experience\":[{\"company\":\"string\",\"role\":\"string\",\"dates\":\"string\",\"bullets\":[\"quantified achievement 1\",\"quantified achievement 2\",\"quantified achievement 3\"]}],\"education\":[{\"degree\":\"string\",\"field\":\"string\",\"institution\":\"string\",\"year\":\"string\",\"grade\":\"string\"}],\"skills\":[\"skill1\",\"skill2\"],\"projects\":[{\"name\":\"string\",\"description\":\"string\",\"tech\":\"string\",\"github\":\"string\"}]}';\n\nconst systemMessage = 'You are an expert resume writer specializing in cloud engineering and DevOps roles. You create highly optimized ATS-friendly resumes. Always respond with valid JSON only. No markdown. No explanation. No code blocks. No conversational text.';\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    jd_text: data.jd_text,\n    jd_data: jdData,\n    match_score: matchScore,\n    matched_keywords: matchedKeywords,\n    missing_keywords: missingKeywords,\n    systemMessage: systemMessage,\n    userMessage: userMessage,\n    iteration: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7f709b90-127a-4347-be25-ea02edaafe72",
      "name": "Analyse JD and Build Prompt"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst r = data.resume_data;\nconst profile = data.profile || {};\n\n// Helper to escape LaTeX special characters\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/&/g, '\\\\&')\n    .replace(/%/g, '\\\\%')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/#/g, '\\\\#')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}');\n}\n\n// Categorise skills\nconst allSkills = r.skills || [];\nconst cloudSkills = allSkills.filter(s => ['aws','ec2','s3','iam','gcp','azure','terraform','cloud'].some(k => s.toLowerCase().includes(k)));\nconst containerSkills = allSkills.filter(s => ['docker','kubernetes','k8s','helm','argocd','container'].some(k => s.toLowerCase().includes(k)));\nconst cicdSkills = allSkills.filter(s => ['ci','cd','jenkins','github actions','gitlab','bash','shell','linux','git'].some(k => s.toLowerCase().includes(k)));\nconst monitorSkills = allSkills.filter(s => ['prometheus','grafana','monitor','elk','datadog','observ'].some(k => s.toLowerCase().includes(k)));\nconst otherSkills = allSkills.filter(s => ![...cloudSkills,...containerSkills,...cicdSkills,...monitorSkills].includes(s));\n\n// Build experience section\nconst experienceLatex = (r.experience || []).map(exp => `\n\\\\resumeheading{${esc(exp.company)}}{${esc(profile.location || '')}}{${esc(exp.role)}}{${esc(exp.dates)}}\n\\\\begin{resumeitem}\n${(exp.bullets || []).map(b => `  \\\\item ${esc(b)}`).join('\\n')}\n\\\\end{resumeitem}\n\\\\vspace{2pt}\n`).join('\\n');\n\n// Build education section\nconst educationLatex = (r.education || []).map(edu => `\n\\\\resumeheading{${esc(edu.institution)}}{${esc(profile.location || '')}}{${esc(edu.degree)} in ${esc(edu.field)}}{${esc(edu.year)}}\n\\\\begin{flushleft}\n\\\\vspace{-6pt}\n${edu.grade ? `CGPA: ${esc(edu.grade)} \\\\\\\\` : ''}\n\\\\end{flushleft}\n`).join('\\n');\n\n// Build projects section\nconst projectsLatex = (r.projects || []).map(p => {\n  const bullets = (p.description || '').split('.').filter(s => s.trim().length > 10).map(s => `  \\\\item ${esc(s.trim())}.`).join('\\n');\n  return `\n\\\\noindent\\\\textbf{${esc(p.name)}} \\\\hfill ${p.github ? `\\\\href{${esc(p.github)}}{\\\\textbf{[GitHub]}}` : ''}\\\\\\\\\n\\\\noindent\\\\textit{Tech Stack: ${esc(p.tech)}} \\\\hfill \\\\\\\\\n\\\\vspace{-4pt}\n\\\\begin{resumeitem}\n${bullets}\n\\\\end{resumeitem}\n\\\\vspace{4pt}\n`;\n}).join('\\n');\n\n// Build full LaTeX document\nconst latex = `\\\\documentclass[9pt,letterpaper]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=0.4in]{geometry}\n\\\\usepackage{titlesec}\n\\\\usepackage{enumitem}\n\\\\usepackage{hyperref}\n\\\\usepackage{nopageno}\n\\\\usepackage{xcolor}\n\\\\usepackage{fontawesome5}\n\n\\\\definecolor{linkblue}{RGB}{20, 70, 160}\n\\\\hypersetup{colorlinks=true,linkcolor=linkblue,urlcolor=linkblue}\n\n\\\\pagestyle{empty}\n\n\\\\titleformat{\\\\section}{\\\\large\\\\bfseries\\\\scshape}{}{0em}{}[\\\\titlerule]\n\\\\titlespacing{\\\\section}{0pt}{6pt}{3pt}\n\n\\\\newlist{resumeitem}{itemize}{1}\n\\\\setlist[resumeitem]{label=$\\\\bullet$, leftmargin=12pt, topsep=1pt, itemsep=1pt, parsep=0pt}\n\n\\\\newcommand{\\\\resumeheading}[4]{\n    \\\\noindent\\\\textbf{#1} \\\\hfill #2\\\\\\\\\n    \\\\noindent\\\\textit{#3} \\\\hfill \\\\textit{#4}\\\\vspace{1pt}\n}\n\n\\\\begin{document}\n\n\\\\begin{center}\n    {\\\\Huge \\\\textbf{\\\\textsc{${esc(r.full_name || profile.full_name || 'Name')}}}}\\\\\\\\\n    \\\\vspace{3pt}\n    ${esc(profile.location || '')} \\\\textbullet{} ${esc(profile.phone || '')} \\\\textbullet{} \\\\href{mailto:${esc(profile.email || '')}}{${esc(profile.email || '')}} \\\\\\\\\n    \\\\vspace{4pt}\n    ${profile.linkedin ? `\\\\href{https://${esc(profile.linkedin)}}{\\\\faLinkedin{} \\\\textbf{LinkedIn}} \\\\textbullet{}` : ''}\n    ${profile.github ? `\\\\href{https://${esc(profile.github)}}{\\\\faGithub{} \\\\textbf{GitHub}}` : ''}\n\\\\end{center}\n\n\\\\section{Education}\n${educationLatex}\n\n\\\\section{Technical Skills}\n\\\\noindent \\\\textbf{Cloud \\\\& Infrastructure:} ${esc(cloudSkills.join(', '))} \\\\\\\\\n\\\\textbf{Containerization \\\\& Orchestration:} ${esc(containerSkills.join(', '))} \\\\\\\\\n\\\\textbf{CI/CD \\\\& Automation:} ${esc(cicdSkills.join(', '))} \\\\\\\\\n\\\\textbf{Monitoring \\\\& Observability:} ${esc(monitorSkills.join(', '))} \\\\\\\\\n${otherSkills.length > 0 ? `\\\\textbf{Other:} ${esc(otherSkills.join(', '))} \\\\\\\\` : ''}\n\n\\\\section{Work Experience}\n${experienceLatex}\n\n\\\\section{Projects}\n${projectsLatex}\n\n\\\\end{document}`;\n\n// Call YtoTech LaTeX API\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://latex.ytotech.com/builds/sync',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    compiler: 'pdflatex',\n    resources: [\n      {\n        main: true,\n        content: latex\n      }\n    ]\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n  encoding: 'arraybuffer'\n});\n\nif (response.statusCode !== 200 && response.statusCode !== 201) {\n  let errMsg = '';\n  try {\n    errMsg = Buffer.from(response.body).toString('utf8').substring(0, 500);\n  } catch(e) {}\n  throw new Error('LaTeX compilation failed: ' + response.statusCode + ' — ' + errMsg);\n}\n\nconst filename = `resume_${data.user_id}_${Date.now()}.pdf`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(response.body),\n  filename,\n  'application/pdf'\n);\n\nreturn [{\n  json: {\n    ...data,\n    filename: filename\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        224
      ],
      "id": "5bbefe96-5347-47ad-8ac4-b6fd9a10dd67",
      "name": "Generate LaTeX PDF"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse and Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailored Resume": {
      "main": [
        [
          {
            "node": "Score ATS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Build S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ATS": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Build Tailored Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate LaTeX PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build S3 URL": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Fetch": {
      "main": [
        [
          {
            "node": "Analyse JD and Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse JD and Build Prompt": {
      "main": [
        [
          {
            "node": "Build Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1578ef30-9425-45b1-92f0-76beb2022c5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c929c734d6eed994ee8b5332e41aedafb118d597f4e027e68c16c5a044273a20"
  },
  "id": "YTkSUjrXJdlXsp9g",
  "tags": []
}