n8n-workflows/02 - JD Tailored Resume.json
{
  "name": "02 - JD Tailored Resume",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-match",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        144
      ],
      "id": "4d968cf1-a0db-4f9c-911d-0bd7b4c47f04",
      "name": "Webhook",
      "webhookId": "91ed5980-2a1d-48fa-a878-3838d411bb89"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = \"your_api_key_here\";\n\nif (!data.userMessage || data.userMessage.length < 100) {\n  throw new Error('userMessage is empty or too short: ' + (data.userMessage || 'EMPTY'));\n}\n\nconst bodyObj = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    { role: 'system', content: data.systemMessage },\n    { role: 'user', content: data.userMessage }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  max_tokens: 4096\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + apiKey,\n    'Content-Type': 'application/json',\n    'Accept': 'application/json'\n  },\n  body: JSON.stringify(bodyObj),\n  returnFullResponse: false,\n  ignoreHttpStatusErrors: false\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\nconst choice = parsed.choices[0];\n\nlet rawContent = choice.message.content\n  || choice.message.reasoning_content\n  || choice.message.reasoning\n  || '';\n\nif (!rawContent || rawContent.length < 10) {\n  throw new Error('Empty response from model. Full API response: ' + JSON.stringify(parsed).substring(0, 500));\n}\n\nconst cleaned = rawContent\n  .replace(/```json\\n?/gi, '')\n  .replace(/```\\n?/gi, '')\n  .trim();\n\nconst jsonStart = cleaned.indexOf('{');\nconst jsonEnd = cleaned.lastIndexOf('}');\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('No JSON found in response: ' + cleaned.substring(0, 300));\n}\n\nlet resumeData;\ntry {\n  resumeData = JSON.parse(cleaned.substring(jsonStart, jsonEnd + 1));\n} catch(e) {\n  throw new Error('JSON parse failed: ' + cleaned.substring(jsonStart, jsonStart + 300));\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    jd_keywords: data.jd_keywords || [],\n    match_score: data.match_score,\n    matched_keywords: data.matched_keywords,\n    missing_keywords: data.missing_keywords,\n    resume_data: resumeData,\n    iteration: data.iteration || 0,\n    best_resume_data: data.best_resume_data || null,\n    best_score: data.best_score === undefined ? -1 : data.best_score,\n    ats_score: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        144
      ],
      "id": "f314a615-6b29-41a9-a91f-c225f5b35cfe",
      "name": "Build Tailored Resume"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "resume-builder-pdfs-t2311",
        "fileName": "=resumes/{{ $json.user_id }}/{{ $json.filename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        736,
        144
      ],
      "id": "b7773049-1258-4ffb-b471-9de0bfaaf4be",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "SLn08B6Bh5C2L6E0",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Deterministic JD-aware ATS scorer. No LLM grading, no fixed 85 fallback.\nconst data = $input.first().json;\nconst r = data.resume_data || {};\n\nconst WEAK_VERBS = ['worked','helped','responsible','assisted','involved','participated','handled','did','made','used','supported'];\nconst STRONG_VERBS = ['built','designed','architected','led','automated','reduced','increased','improved','deployed','implemented','migrated','optimized','developed','launched','scaled','delivered','engineered','orchestrated','streamlined','accelerated','spearheaded','created','managed','drove'];\n\n// Keyword target = JD keywords (preferred) plus profile skills\nconst jdKeywords = (data.jd_keywords || []).map(s => String(s).toLowerCase());\nconst profileSkills = (data.profile && data.profile.skills ? data.profile.skills : []).map(s => String(s).toLowerCase());\nconst targetKeywords = Array.from(new Set([...jdKeywords, ...profileSkills]));\n\nfunction hasMetric(str) { return /\\d/.test(String(str)); }\nfunction firstWord(str) { return String(str).trim().split(/\\s+/)[0].toLowerCase().replace(/[^a-z]/g, ''); }\n\nconst weaknesses = [];\nconst experience = Array.isArray(r.experience) ? r.experience : [];\nconst projects = Array.isArray(r.projects) ? r.projects : [];\nconst skills = Array.isArray(r.skills) ? r.skills : [];\n\nconst allBullets = [];\nexperience.forEach(e => (e.bullets || []).forEach(b => allBullets.push(b)));\nprojects.forEach(p => { if (p.description) String(p.description).split('.').filter(s => s.trim().length > 10).forEach(s => allBullets.push(s)); });\n\n// 1. JD keyword coverage (25)\nconst resumeText = JSON.stringify(r).toLowerCase();\nconst matchedKw = targetKeywords.filter(k => k && resumeText.includes(k));\nconst missingKw = targetKeywords.filter(k => k && !resumeText.includes(k));\nconst kwScore = targetKeywords.length ? Math.round((matchedKw.length / targetKeywords.length) * 25) : 18;\nif (missingKw.length) weaknesses.push('Incorporate these JD keywords naturally: ' + missingKw.slice(0, 8).join(', '));\n\n// 2. Action verbs (20)\nlet strongCount = 0, weakCount = 0;\nallBullets.forEach(b => { const w = firstWord(b); if (STRONG_VERBS.includes(w)) strongCount++; else if (WEAK_VERBS.includes(w)) weakCount++; });\nconst verbScore = allBullets.length ? Math.round((strongCount / allBullets.length) * 20) : 10;\nif (weakCount > 0) weaknesses.push(weakCount + ' bullet(s) start with weak verbs; begin each with a strong action verb (Built, Automated, Reduced).');\n\n// 3. Quantified achievements (20)\nconst quantified = allBullets.filter(hasMetric).length;\nconst quantScore = allBullets.length ? Math.round((quantified / allBullets.length) * 20) : 8;\nif (allBullets.length && quantified < allBullets.length) weaknesses.push((allBullets.length - quantified) + ' bullet(s) lack a metric; add numbers, %, time saved, or scale.');\n\n// 4. Structure / sections (20)\nlet structScore = 0;\nif (r.full_name) structScore += 2;\nif (r.summary && r.summary.length > 30) structScore += 3; else weaknesses.push('Add a strong 2-3 sentence professional summary tailored to the role.');\nif (experience.length) structScore += 5; else weaknesses.push('Add work experience.');\nif (Array.isArray(r.education) && r.education.length) structScore += 3; else weaknesses.push('Add education.');\nif (skills.length) structScore += 3; else weaknesses.push('Add a skills section.');\nif (projects.length) structScore += 2; else weaknesses.push('Add at least one project.');\nif (Array.isArray(r.achievements) && r.achievements.length) structScore += 1; else weaknesses.push('Add an Achievements section.');\nif (Array.isArray(r.certifications) && r.certifications.length) structScore += 1; else weaknesses.push('Add a Certifications section.');\nif (structScore > 20) structScore = 20;\n\n// 5. Skills depth (15)\nconst skillScore = Math.min(15, Math.round((skills.length / 12) * 15));\nif (skills.length < 8) weaknesses.push('List at least 8-12 relevant skills.');\n\nconst score = Math.max(0, Math.min(100, kwScore + verbScore + quantScore + structScore + skillScore));\n\nreturn [{\n  json: {\n    ...data,\n    ats_score: score,\n    score_breakdown: { keywords: kwScore, action_verbs: verbScore, achievements: quantScore, structure: structScore, skills: skillScore },\n    suggestions: weaknesses,\n    missing_keywords: missingKw\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        144
      ],
      "id": "d68406ff-6f71-49ba-a9be-6f83ea0d35bd",
      "name": "Score ATS"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst iteration = (data.iteration || 0) + 1;\n\nlet bestScore = (data.best_score === undefined || data.best_score === null) ? -1 : data.best_score;\nlet bestResume = data.best_resume_data || null;\nif (data.ats_score > bestScore) {\n  bestScore = data.ats_score;\n  bestResume = data.resume_data;\n}\n\nconst needsRefinement = data.ats_score < 90 && iteration < 4;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    jd_keywords: data.jd_keywords || [],\n    resume_data: data.resume_data,\n    match_score: data.match_score,\n    ats_score: data.ats_score,\n    score_breakdown: data.score_breakdown || {},\n    suggestions: data.suggestions || [],\n    missing_keywords: data.missing_keywords || [],\n    iteration: iteration,\n    needs_refinement: needsRefinement,\n    best_resume_data: bestResume,\n    best_score: bestScore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -48
      ],
      "id": "69bdc087-9556-4b93-805b-2e50a1c06efe",
      "name": "Check Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e05e52-65fc-412c-88ef-05033500d86e",
              "leftValue": "={{ $json.needs_refinement }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -48
      ],
      "id": "8971d8ac-41d8-4d1d-a35a-543b610fe540",
      "name": "Score Gate"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst userId = data.user_id;\nconst filename = data.filename;\n\nconst bucketName = \"resume-builder-pdfs-t2311\";\nconst region = \"ap-southeast-2\";\n\nconst s3Url = `https://${bucketName}.s3.${region}.amazonaws.com/resumes/${userId}/${filename}`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    s3_url: s3Url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0,\n    filename: filename\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        144
      ],
      "id": "0805196f-3a84-42a9-b8d6-98c5f6f0cc3a",
      "name": "Build S3 URL"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"your_service_role_key_here\";\n\n// Resolve user_id robustly: current item first, then fall back to the webhook input\nlet userId = data.user_id;\nif (!userId) {\n  try { userId = $('Webhook').first().json.body.user_id; } catch (e) {}\n}\nif (!userId) {\n  try { userId = $('Parse and Fetch').first().json.user_id; } catch (e) {}\n}\nif (!userId) {\n  throw new Error('Could not resolve user_id from item, Webhook, or Parse and Fetch');\n}\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl + '/rest/v1/resumes',\n  headers: {\n    'apikey': serviceRoleKey,\n    'Authorization': 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: JSON.stringify({\n    user_id: userId,\n    type: 'jd_tailored',\n    s3_url: data.s3_url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst parsed = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n\nif (response.statusCode !== 201) {\n  throw new Error('Supabase error ' + response.statusCode + ': ' + JSON.stringify(parsed));\n}\n\nreturn [{\n  json: {\n    success: true,\n    user_id: userId,\n    s3_url: data.s3_url,\n    ats_score: data.ats_score || 0,\n    match_score: data.match_score || 0\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -48
      ],
      "id": "c074263f-2b2e-4b9d-b206-a3301bec62a2",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"s3_url\": \"={{ $json.s3_url }}\",\n  \"ats_score\": \"={{ $json.ats_score }}\",\n  \"match_score\": \"={{ $json.match_score }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1152,
        80
      ],
      "id": "a1588025-5f92-4f22-9147-98c6f4c4bacd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.user_id || !body.jd_text) {\n  throw new Error('Missing user_id or jd_text. Received: ' + JSON.stringify(body));\n}\n\nconst supabaseUrl = \"https://jxposfnuselsyjejjhte.supabase.co\";\nconst serviceRoleKey = \"your_service_role_key_here\";\n\nlet profile = {};\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/rest/v1/profiles?user_id=eq.' + body.user_id + '&select=*',\n    headers: {\n      'apikey': serviceRoleKey,\n      'Authorization': 'Bearer ' + serviceRoleKey,\n      'Content-Type': 'application/json'\n    },\n    returnFullResponse: false,\n    ignoreHttpStatusErrors: true\n  });\n  const parsed = typeof response === 'string' ? JSON.parse(response) : response;\n  profile = parsed[0] || {};\n} catch(e) {\n  profile = {};\n}\n\nif (!profile || !profile.skills) {\n  profile = {\n    full_name: \"Test User\",\n    email: \"test@email.com\",\n    phone: \"+91 98765 43210\",\n    location: \"Mumbai, India\",\n    linkedin: \"linkedin.com/in/testuser\",\n    github: \"github.com/testuser\",\n    skills: [\"Docker\", \"Kubernetes\", \"AWS\", \"Terraform\", \"CI/CD\", \"Jenkins\", \"GitHub Actions\", \"Linux\", \"Python\", \"Bash\", \"Prometheus\", \"Grafana\", \"Helm\", \"ArgoCD\"],\n    experience: [{\"company\": \"Tech Corp\", \"role\": \"DevOps Engineer\", \"start_date\": \"2022-01\", \"end_date\": \"2024-01\", \"description\": \"Managed Kubernetes clusters on AWS EKS. Built CI/CD pipelines reducing deployment time by 50%. Automated infrastructure with Terraform.\"}],\n    education: [{\"institution\": \"Mumbai University\", \"degree\": \"B.Tech\", \"field\": \"Computer Science\", \"start_year\": \"2018\", \"end_year\": \"2022\", \"grade\": \"8.5 CGPA\"}],\n    projects: [{\"name\": \"K8s Infra Automation\", \"description\": \"Automated Kubernetes infrastructure deployment using Terraform and ArgoCD\", \"tech_stack\": \"Kubernetes, Terraform, ArgoCD, AWS\"}],\n    achievements: [{\"title\": \"Reduced cloud costs\", \"description\": \"Cut AWS spend by 30% through rightsizing and spot instances\", \"year\": \"2023\"}],\n    certifications: [{\"name\": \"AWS Certified Solutions Architect - Associate\", \"issuer\": \"Amazon Web Services\", \"year\": \"2023\", \"credential_url\": \"\"}]\n  };\n}\n\nreturn [{\n  json: {\n    user_id: body.user_id,\n    jd_text: body.jd_text,\n    profile: profile\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        144
      ],
      "id": "b277e06e-7b93-4405-8147-38c428a1149b",
      "name": "Parse and Fetch"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst apiKey = \"your_api_key_here\";\n\nconst extractBody = {\n  model: 'nvidia/llama-3.3-nemotron-super-49b-v1.5',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a job description analyst. Return valid JSON only. No markdown. No explanation.'\n    },\n    {\n      role: 'user',\n      content: 'Extract key information from this job description: ' + data.jd_text + '. Return ONLY this JSON structure: {\"role_title\":\"string\",\"required_skills\":[\"skill1\",\"skill2\"],\"tech_stack\":[\"tech1\",\"tech2\"],\"keywords_for_ats\":[\"keyword1\",\"keyword2\"],\"experience_level\":\"junior/mid/senior\"}'\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n};\n\nlet jdData = { role_title: '', required_skills: [], tech_stack: [], keywords_for_ats: [], experience_level: 'mid' };\n\ntry {\n  const extractResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://integrate.api.nvidia.com/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer ' + apiKey,\n      'Content-Type': 'application/json',\n      'Accept': 'application/json'\n    },\n    body: JSON.stringify(extractBody),\n    returnFullResponse: false,\n    ignoreHttpStatusErrors: false\n  });\n\n  const extractParsed = typeof extractResponse === 'string' ? JSON.parse(extractResponse) : extractResponse;\n  const extractChoice = extractParsed.choices[0];\n  let extractRaw = extractChoice.message.content || extractChoice.message.reasoning_content || extractChoice.message.reasoning || '';\n  \n  extractRaw = extractRaw.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  const s = extractRaw.indexOf('{');\n  const e = extractRaw.lastIndexOf('}');\n  if (s !== -1 && e !== -1) {\n    jdData = JSON.parse(extractRaw.substring(s, e + 1));\n  }\n} catch(err) {\n}\n\nconst userSkills = (data.profile.skills || []).map(s => s.toLowerCase());\nconst jdKeywords = (jdData.keywords_for_ats || []).map(k => k.toLowerCase());\n\nconst matchedKeywords = jdKeywords.filter(k => userSkills.some(s => s.includes(k) || k.includes(s)));\nconst missingKeywords = jdKeywords.filter(k => !userSkills.some(s => s.includes(k) || k.includes(s)));\nconst matchScore = jdKeywords.length > 0 ? Math.round((matchedKeywords.length / jdKeywords.length) * 100) : 50;\n\nconst roleTitle = jdData.role_title || 'DevOps Engineer';\nconst keywords = (jdData.keywords_for_ats || []).join(', ') || 'Docker, Kubernetes, AWS, Terraform, CI/CD';\nconst techStack = (jdData.tech_stack || []).join(', ') || 'AWS, Docker, Kubernetes';\nconst profileStr = JSON.stringify(data.profile);\n\nconst schema = '{\"full_name\":\"string\",\"summary\":\"2-3 sentence summary mentioning ' + roleTitle + '\",\"experience\":[{\"company\":\"string\",\"role\":\"string\",\"dates\":\"string\",\"bullets\":[\"quantified achievement 1\",\"quantified achievement 2\",\"quantified achievement 3\"]}],\"education\":[{\"degree\":\"string\",\"field\":\"string\",\"institution\":\"string\",\"year\":\"string\",\"grade\":\"string\"}],\"skills\":[\"skill1\",\"skill2\"],\"projects\":[{\"name\":\"string\",\"description\":\"string\",\"tech\":\"string\",\"github\":\"string\"}],\"achievements\":[{\"title\":\"string\",\"description\":\"string\",\"year\":\"string\"}],\"certifications\":[{\"name\":\"string\",\"issuer\":\"string\",\"year\":\"string\",\"credential_url\":\"string\"}]}';\n\nconst userMessage = 'Create a professional ATS-optimized resume tailored for this job role: ' + roleTitle + '. You MUST include these keywords naturally throughout: ' + keywords + '. Tech stack required: ' + techStack + '. Candidate profile data: ' + profileStr + '. RULES: Start every experience and project bullet with a strong action verb (Built, Designed, Automated, Led, Reduced, Increased, Migrated, Optimized). Quantify EVERY bullet with a concrete number, percentage, time saved, or scale. Mirror the JD keywords naturally without keyword-stuffing. Include achievements and certifications from the profile. Aim for a 90+ ATS score. Return ONLY valid JSON with exactly this structure: ' + schema;\n\nconst systemMessage = 'You are an expert resume writer specializing in cloud engineering and DevOps roles. You create highly optimized ATS-friendly resumes. Always respond with valid JSON only. No markdown. No explanation. No code blocks. No conversational text.';\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    profile: data.profile,\n    jd_text: data.jd_text,\n    jd_data: jdData,\n    jd_keywords: jdData.keywords_for_ats || [],\n    match_score: matchScore,\n    matched_keywords: matchedKeywords,\n    missing_keywords: missingKeywords,\n    systemMessage: systemMessage,\n    userMessage: userMessage,\n    iteration: 0,\n    best_resume_data: null,\n    best_score: -1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -48
      ],
      "id": "80353971-103f-4eab-ac58-cdd16c3d54d9",
      "name": "Analyse JD and Build Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Refinement prompt builder: feeds deterministic weaknesses back each loop\nconst prev = $('Check Score').first().json;\nconst roleData = $('Analyse JD and Build Prompt').first().json;\n\nconst schema = '{\"full_name\":\"string\",\"summary\":\"string\",\"experience\":[{\"company\":\"string\",\"role\":\"string\",\"dates\":\"string\",\"bullets\":[\"string\"]}],\"education\":[{\"degree\":\"string\",\"field\":\"string\",\"institution\":\"string\",\"year\":\"string\",\"grade\":\"string\"}],\"skills\":[\"string\"],\"projects\":[{\"name\":\"string\",\"description\":\"string\",\"tech\":\"string\",\"github\":\"string\"}],\"achievements\":[{\"title\":\"string\",\"description\":\"string\",\"year\":\"string\"}],\"certifications\":[{\"name\":\"string\",\"issuer\":\"string\",\"year\":\"string\",\"credential_url\":\"string\"}]}';\n\nconst userMessage = 'Improve this resume to raise its ATS score above 90. Current score: ' + prev.ats_score + '/100. Fix these specific weaknesses: ' + (prev.suggestions || []).join(' | ') + '. Missing JD keywords to weave in naturally: ' + (prev.missing_keywords || []).join(', ') + '. RULES: Start every bullet with a strong action verb. Quantify EVERY bullet with a concrete metric. Keep all existing real facts; only improve phrasing, keywords, and metrics. Current resume JSON: ' + JSON.stringify(prev.resume_data) + '. Return ONLY improved valid JSON with this exact structure: ' + schema;\n\nreturn [{\n  json: {\n    user_id: prev.user_id,\n    profile: prev.profile,\n    jd_keywords: prev.jd_keywords || [],\n    match_score: prev.match_score,\n    matched_keywords: roleData.matched_keywords || [],\n    missing_keywords: prev.missing_keywords || [],\n    iteration: prev.iteration || 0,\n    best_resume_data: prev.best_resume_data || null,\n    best_score: prev.best_score === undefined ? -1 : prev.best_score,\n    systemMessage: roleData.systemMessage,\n    userMessage: userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -48
      ],
      "id": "f0c6b359-b7a8-46a8-b033-d06d6c0a65ee",
      "name": "Prepare Refinement"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Use the best resume produced across all iterations\nconst r = (data.best_score !== undefined && data.best_score >= data.ats_score && data.best_resume_data) ? data.best_resume_data : data.resume_data;\nconst finalScore = Math.max(data.ats_score || 0, data.best_score || 0);\nconst profile = data.profile || {};\n\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/&/g, '\\\\&')\n    .replace(/%/g, '\\\\%')\n    .replace(/\\$/g, '\\\\$')\n    .replace(/#/g, '\\\\#')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}');\n}\n\nconst allSkills = r.skills || [];\nconst cloudSkills = allSkills.filter(s => ['aws','ec2','s3','iam','gcp','azure','terraform','cloud'].some(k => s.toLowerCase().includes(k)));\nconst containerSkills = allSkills.filter(s => ['docker','kubernetes','k8s','helm','argocd','container'].some(k => s.toLowerCase().includes(k)));\nconst cicdSkills = allSkills.filter(s => ['ci','cd','jenkins','github actions','gitlab','bash','shell','linux','git'].some(k => s.toLowerCase().includes(k)));\nconst monitorSkills = allSkills.filter(s => ['prometheus','grafana','monitor','elk','datadog','observ'].some(k => s.toLowerCase().includes(k)));\nconst otherSkills = allSkills.filter(s => ![...cloudSkills,...containerSkills,...cicdSkills,...monitorSkills].includes(s));\n\nconst experienceLatex = (r.experience || []).map(exp => `\n\\\\resumeheading{${esc(exp.company)}}{${esc(profile.location || '')}}{${esc(exp.role)}}{${esc(exp.dates)}}\n\\\\begin{resumeitem}\n${(exp.bullets || []).map(b => `  \\\\item ${esc(b)}`).join('\\n')}\n\\\\end{resumeitem}\n\\\\vspace{2pt}\n`).join('\\n');\n\nconst educationLatex = (r.education || []).map(edu => `\n\\\\resumeheading{${esc(edu.institution)}}{${esc(profile.location || '')}}{${esc(edu.degree)} in ${esc(edu.field)}}{${esc(edu.year)}}\n\\\\begin{flushleft}\n\\\\vspace{-6pt}\n${edu.grade ? `CGPA: ${esc(edu.grade)} \\\\\\\\` : ''}\n\\\\end{flushleft}\n`).join('\\n');\n\nconst projectsLatex = (r.projects || []).map(p => {\n  const bullets = (p.description || '').split('.').filter(s => s.trim().length > 10).map(s => `  \\\\item ${esc(s.trim())}.`).join('\\n');\n  return `\n\\\\noindent\\\\textbf{${esc(p.name)}} \\\\hfill ${p.github ? `\\\\href{${esc(p.github)}}{\\\\textbf{[GitHub]}}` : ''}\\\\\\\\\n\\\\noindent\\\\textit{Tech Stack: ${esc(p.tech)}} \\\\hfill \\\\\\\\\n\\\\vspace{-4pt}\n\\\\begin{resumeitem}\n${bullets}\n\\\\end{resumeitem}\n\\\\vspace{4pt}\n`;\n}).join('\\n');\n\nconst achievements = Array.isArray(r.achievements) ? r.achievements : [];\nconst achievementsLatex = achievements.length ? `\\\\section{Achievements}\n\\\\begin{resumeitem}\n${achievements.map(a => `  \\\\item \\\\textbf{${esc(a.title)}}${a.year ? ` (${esc(a.year)})` : ''}${a.description ? ` — ${esc(a.description)}` : ''}`).join('\\n')}\n\\\\end{resumeitem}` : '';\n\nconst certifications = Array.isArray(r.certifications) ? r.certifications : [];\nconst certificationsLatex = certifications.length ? `\\\\section{Certifications}\n\\\\begin{resumeitem}\n${certifications.map(c => `  \\\\item \\\\textbf{${esc(c.name)}}${c.issuer ? `, ${esc(c.issuer)}` : ''}${c.year ? ` (${esc(c.year)})` : ''}${c.credential_url ? ` \\\\href{${esc(c.credential_url)}}{[Verify]}` : ''}`).join('\\n')}\n\\\\end{resumeitem}` : '';\n\nconst latex = `\\\\documentclass[9pt,letterpaper]{article}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage[margin=0.4in]{geometry}\n\\\\usepackage{titlesec}\n\\\\usepackage{enumitem}\n\\\\usepackage{hyperref}\n\\\\usepackage{nopageno}\n\\\\usepackage{xcolor}\n\\\\usepackage{fontawesome5}\n\n\\\\definecolor{linkblue}{RGB}{20, 70, 160}\n\\\\hypersetup{colorlinks=true,linkcolor=linkblue,urlcolor=linkblue}\n\n\\\\pagestyle{empty}\n\n\\\\titleformat{\\\\section}{\\\\large\\\\bfseries\\\\scshape}{}{0em}{}[\\\\titlerule]\n\\\\titlespacing{\\\\section}{0pt}{6pt}{3pt}\n\n\\\\newlist{resumeitem}{itemize}{1}\n\\\\setlist[resumeitem]{label=$\\\\bullet$, leftmargin=12pt, topsep=1pt, itemsep=1pt, parsep=0pt}\n\n\\\\newcommand{\\\\resumeheading}[4]{\n    \\\\noindent\\\\textbf{#1} \\\\hfill #2\\\\\\\\\n    \\\\noindent\\\\textit{#3} \\\\hfill \\\\textit{#4}\\\\vspace{1pt}\n}\n\n\\\\begin{document}\n\n\\\\begin{center}\n    {\\\\Huge \\\\textbf{\\\\textsc{${esc(r.full_name || profile.full_name || 'Name')}}}}\\\\\\\\\n    \\\\vspace{3pt}\n    ${esc(profile.location || '')} \\\\textbullet{} ${esc(profile.phone || '')} \\\\textbullet{} \\\\href{mailto:${esc(profile.email || '')}}{${esc(profile.email || '')}} \\\\\\\\\n    \\\\vspace{4pt}\n    ${profile.linkedin ? `\\\\href{https://${esc(profile.linkedin)}}{\\\\faLinkedin{} \\\\textbf{LinkedIn}} \\\\textbullet{}` : ''}\n    ${profile.github ? `\\\\href{https://${esc(profile.github)}}{\\\\faGithub{} \\\\textbf{GitHub}}` : ''}\n\\\\end{center}\n\n${r.summary ? `\\\\section{Summary}\n${esc(r.summary)}` : ''}\n\n\\\\section{Education}\n${educationLatex}\n\n\\\\section{Technical Skills}\n\\\\noindent \\\\textbf{Cloud \\\\& Infrastructure:} ${esc(cloudSkills.join(', '))} \\\\\\\\\n\\\\textbf{Containerization \\\\& Orchestration:} ${esc(containerSkills.join(', '))} \\\\\\\\\n\\\\textbf{CI/CD \\\\& Automation:} ${esc(cicdSkills.join(', '))} \\\\\\\\\n\\\\textbf{Monitoring \\\\& Observability:} ${esc(monitorSkills.join(', '))} \\\\\\\\\n${otherSkills.length > 0 ? `\\\\textbf{Other:} ${esc(otherSkills.join(', '))} \\\\\\\\` : ''}\n\n\\\\section{Work Experience}\n${experienceLatex}\n\n\\\\section{Projects}\n${projectsLatex}\n\n${achievementsLatex}\n\n${certificationsLatex}\n\n\\\\end{document}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://latex.ytotech.com/builds/sync',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    compiler: 'pdflatex',\n    resources: [\n      {\n        main: true,\n        content: latex\n      }\n    ]\n  }),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true,\n  encoding: 'arraybuffer'\n});\n\nif (response.statusCode !== 200 && response.statusCode !== 201) {\n  let errMsg = '';\n  try {\n    errMsg = Buffer.from(response.body).toString('utf8').substring(0, 500);\n  } catch(e) {}\n  throw new Error('LaTeX compilation failed: ' + response.statusCode + ' — ' + errMsg);\n}\n\nconst filename = `resume_${data.user_id}_${Date.now()}.pdf`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(response.body),\n  filename,\n  'application/pdf'\n);\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    ats_score: finalScore,\n    match_score: data.match_score || 0,\n    filename: filename\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        144
      ],
      "id": "9f39a557-67eb-46ee-b1b5-c5a892ccd83a",
      "name": "Generate LaTeX PDF"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse and Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailored Resume": {
      "main": [
        [
          {
            "node": "Score ATS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Build S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score ATS": {
      "main": [
        [
          {
            "node": "Check Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Prepare Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate LaTeX PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Refinement": {
      "main": [
        [
          {
            "node": "Build Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build S3 URL": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Fetch": {
      "main": [
        [
          {
            "node": "Analyse JD and Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse JD and Build Prompt": {
      "main": [
        [
          {
            "node": "Build Tailored Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX PDF": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa4850f2-94c8-4b2f-b61f-6e268ecabfed",
  "meta": {
    "instanceId": "c929c734d6eed994ee8b5332e41aedafb118d597f4e027e68c16c5a044273a20"
  },
  "id": "FWSjUhJlf9B6Xspw",
  "tags": []
}